@model ProyectoFinal.Models.Usuarios
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Show</h2>
<div>
    <h3> Hi! @Model.NomUsuario</h3> @*Show the name of th euser who is logged in.*@
</div>
