@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h5>
        Esto es un pequeño programa en el cual puedes dar de alta libros, ver los libros que has añadido para ello es necesario registrarse,
        también he hecho una pequeña simulación de como sería el préstamo de un libro.
    </h5>
    <hr />
    <div>
        <button type="button" class="btn btn-secondary btn-lg" OnClick="location.href = 'Libros/MostrarLibros'">Libros</button>
        <button type="button" class="btn btn-secondary btn-lg" OnClick="location.href = 'Libros/Create'">Nuevo Libro</button>
    </div>
    <br/>
    <div>
        <button type="button" class="btn btn-secondary btn-lg" OnClick="location.href = 'Prestamos/Index'">Préstamos</button>
        <button type="button" class="btn btn-secondary btn-lg" OnClick="location.href = 'Prestamos/Create'">Nuevo Préstamo</button>
    </div>
</div>
